<header>

    <!-- TITLE BAR -->
    <div class="top-bar">
        <div class="site-title">MetroArchive</div>
    </div>

    <!-- NAVIGATION -->
    <nav>
        <ul class="nav-menu">

            <li class="nav-item">
                <a href="index.html">Home</a>
            </li>

            <li class="nav-item">
                <a href="rollingstock.html">Rolling Stock</a>

                <ul class="dropdown">

                    <li>
                        <a href="#">Image Rosters</a>
                    </li>

                    <li class="has-submenu">
                        <a href="#">Fleet</a>

                        <ul class="submenu">
                            <li><a href="#">1000-Series</a></li>
                            <li><a href="#">2000-Series</a></li>
                            <li><a href="#">3000-Series</a></li>
                            <li><a href="#">4000-Series</a></li>
                            <li><a href="#">5000-Series</a></li>
                            <li><a href="#">6000-Series</a></li>
                            <li><a href="#">7000-Series</a></li>
                            <li><a href="#">8000-Series</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Mockups</a>
                    </li>

                    <li>
                        <a href="#">Work Vehicles</a>
                    </li>

                </ul>
            </li>

            <li class="nav-item">
                <a href="system.html">System</a>

                <ul class="dropdown">
                    <li><a href="#">Stations</a></li>
                    <li><a href="#">Yards</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="#">Pennants</a>
            </li>

            <li class="nav-item">
                <a href="#">Fare Cards</a>
            </li>

            <li class="nav-item">
                <a href="#">About</a>
            </li>

        </ul>
    </nav>

    <!-- LOWER STRIP -->
    <div class="bottom-strip"></div>

</header>
